@import "tailwindcss";

:root {
  --background: #F2F2F2;
  --foreground: #414042;
}

@source inline("bg-{{primary,secondary,gray}{-{50,100,200,300,400,500,600,700,800,900},},{white,black,background,foreground}}");

@theme {
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;

  --color-primary: #32449C;
  --color-primary-50: #F1F3FE;
  --color-primary-100: #E2E6FB;
  --color-primary-200: #C2C7EF;
  --color-primary-300: #858FDF;
  --color-primary-400: #4757CF;
  --color-primary-500: #32449C;
  --color-primary-600: #28367D;
  --color-primary-700: #1E285D;
  --color-primary-800: #141B3E;
  --color-primary-900: #0A0D1F;

  --color-secondary: #F18F32;
  --color-secondary-50: #FFF7ED;
  --color-secondary-100: #FFEDD5;
  --color-secondary-200: #FCE3CC;
  --color-secondary-300: #F9C799;
  --color-secondary-400: #F5AB66;
  --color-secondary-500: var(--color-secondary);
  --color-secondary-600: #C17228;
  --color-secondary-700: #91561E;
  --color-secondary-800: #603914;
  --color-secondary-900: #301D0A;

  --color-gray: #F9FAFB;
  --color-gray-50: #F9FAFB;
  --color-gray-100: #F2F2F2;
  --color-gray-200: #F3F4F6;
  --color-gray-300: #E5E7EB;
  --color-gray-400: #D1D5DB;
  --color-gray-500: var(--color-gray);
  --color-gray-600: #6B7280;
  --color-gray-700: #4B5563;
  --color-gray-800: #374151;
  --color-gray-900: #414042;

  --color-white: var(--color-gray-100);
  --color-black: var(--color-gray-900);

  --color-background: var(--color-gray-100);
  --color-foreground: var(--color-gray-900);
}

/* @media (prefers-color-scheme: light) {
  :root {
    --background: var(--color-background);
    --foreground: var(--color-foreground);
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}



h1 {
  @apply text-6xl font-semibold;
}

h2 {
  @apply text-3xl font-semibold;
}

h3 {
  @apply text-xl font-medium;
}

h4 {
  @apply text-lg font-medium;
}

h5 {
  @apply text-base font-bold;
}

h6 {
  @apply text-base font-medium;
}

p {
  @apply text-base font-normal;
}
